<h2 class="page-section-heading text-center text-uppercase mb-0 <%= if assigns[:theme], do: text_color(@theme) %>"><%= @title %></h2>
<!-- Icon Divider-->
<div class="divider-custom <%= if assigns[:theme], do: divider_color(@theme) %>">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>
