<!DOCTYPE html>
<html lang="en">
    <head>

        <title>🤦‍♂️ 500 servr error | Mihai Blebea</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="<%= Routes.static_path(@conn, "/css/styles.css") %>" rel="stylesheet" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175295587-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-175295587-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon.png") %>" />
        <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon/favicon-32x32.png") %>" />
        <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon/favicon-16x16.png") %>" />
        <link rel="manifest" href="<%= Routes.static_path(@conn, "/favicon/site.webmanifest") %>" />

        <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon/favicon.ico") %>" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="<%= Routes.static_path(@conn, "/favicon/favicon.ico") %>" />
        <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon/favicon.ico") %>" />
        <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon/favicon.ico") %>" />
        <!-- Favicons -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
        <link href="<%= Routes.static_path(@conn, "/css/custom.css") %>" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/#page-top">Mihai Blebea</a>
            </div>
        </nav>

        <header class="masthead masthead-article text-center text-secondary" id="page-top">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">505 error - 🤦‍♂️ Something went wrong with the server</h1>

                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Masthead Subheading-->
                <h5>Let's go back to the main page</h5>
            </div>
        </header>

        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-primary" href="/">
                                Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%= render_component "footer.html", assigns %>
    </body>
</html>
